*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
*.aar
*.zip
/secret*.properties
/*key*.properties
/.idea
bin
gen
out
release/
build
debug
.vscode
.project
.settings
.classpath
google-services.json
.idea/
.idea/*
secret*.properties
*.log
output.json
*.jks
*.keystore
*.hprof
